ol>li:nth-child(even) {
    background-color: grey;
}
div {
    border-style: dotted;
    border-width: 1px;
    border-color: 660033;
}

  ul>li::marker {
    content: '☠️ ';
    font-size: 1.1em;
}

ul>li:last-child::marker {
    content: '✔️ ';
    color: transparent; 
    text-shadow: 0 0 0 rgb(119, 216, 70);  
    font-size: 1em;
}