

#mi_cabecera {
    display: flex;
    width: 80%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#mi_seccion {
    width: 80%;
    background-image: url("../images/pizza.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    flex-grow: 1;  
    }

#mi_footer {
    width: 80%;
    background-color: white;
    color: black;
    flex-grow: 1;  
}

.texto_resaltado {
    font-weight: bold;
    margin-left: 50px;
}

.contenedor_texto {
    color: white;
    background-color: tomato;
    display: inline-block;
    align-content: normal;
    border: 2px solid rgb(255, 255, 255);
    padding: 3px 3px 3px 3px;
}

body {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;    
    background-image: url("../images/fondo_madera.jpg");
    background-size: cover;
}
