* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@font-face {
    font-family: "MsMadi";
    src: url("../font/MsMadi-Regular.ttf");
  }
  
body {
    font-family: "MsMadi", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/motivodorado.png);
    background-size: cover;
    background-position: center;
    filter: opacity(0.2);
    z-index: -1;
  }
.nav {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 30px 50px 0 0;
  }
  
nav a {
    color: #a3702d;
    text-decoration: none;
    font-family: "MsMadi";
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-image: none;
    transition: all 0.3s;
  }

nav a:hover {
    background-color: #a3702d;
    color: #FFEFBA;
  }
  
.contact {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
  }
  
.contact-details {
    flex: 1;
  }

  input[type="text"],
  input[type="email"],
  #message {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    font-family: "MsMadi", sans-serif;
  }
  
h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
.contact-info {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
  }
  
.contact-info p {
    margin: 5px 0;
  }
  
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.contact-form label {
    font-size: 0.9em;
    color: #333;
  }
  
.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
  }
  
.contact-form button {
    font-family: "MsMadi", sans-serif;
    padding: 10px;
    background-color: #e7c9a2; 
    color: #a3702d;
    border: none;
    border-radius: 4px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.contact-form button:hover {
    background-color: #a3702d;
    color: #ffffff;
  }
  
.map-container {
    flex: 1;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
  }
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(42, 42%, 67%, 0.434);
    color: #a3702d;
    padding: 20px;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section a, .footer-section span {
    color:#a3702d;
    font-size: 1em;
    text-decoration: none;
  }
  
  .footer-section span:hover {
    text-decoration: underline;
  }
  
  .social-icons span {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .social-icons span:hover img {
    transform: scale(1.2);
  }
  
  