body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
img {
    width: 80%;
    height: 80%;
    margin: 10px 10px 10px 10px;
    border-radius: 100%;
    border: 2px solid rgb(214, 217, 0);
}

.contrast {
    filter: contrast(200%);
}
.hue-rotate {
    filter: hue-rotate(90deg);
}
.blur {
    filter: blur(5px);
}
.opacity {
    filter: opacity(20%);
}
.brightness {
    filter: brightness(30%) saturate(200%);
}
.sepia {
    filter: sepia(100%);
}
.grayscale {
    filter: grayscale(100%);
}  
.invert {
    filter: invert(100%);
}
.multiple_filters {
    filter: contrast(200%) hue-rotate(90deg) blur(5px) opacity(50%) brightness(0.5) sepia(100%) grayscale(100%) saturate(200%) invert(100%);
}
.drop-shadow {
    filter: drop-shadow(8px 8px 10px red);
} 
.saturate {
    filter: saturate(200%);
}